body {
	font-family: 'Orbitron', sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-image: url('../images/star_wars_xwing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 930px;
}


.container-fluid {


	height: 0%;
	padding-left: 8%;
}

h1 {
	margin-right: 8%;
}

.characters {
	margin-top: 100px;
}

p {
	margin: 3px auto;
}

div.box {
	padding: 0 2%;
    background: white;
    border: 3px solid green;
    max-height:130px;
}
li.chosenFighter.box {
	padding: 0 2%;
    background: white;
    border: 3px solid green;
    max-height:130px;
}
img.chosenFighter {
	height: 100px;
	width: 100%;
}
img.defender {
	height: 100px;
	width: 100%;	
}

li.defender.box{
	padding: 0 2%;
    background: white;
    border: 3px solid green;
    max-height:130px;
}

.characters img {
	width: 100%;
	height: 100px;
}


